<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" {% if page.layout=="landing" %} class="alt style2" {% endif %}{% if page.layout=="home" %}
        class="alt" {% endif %} >
        {% if page.layout=="landing" %}<a href="{{ site.url }}" class="logo" style="padding-right: 0"><img src="assets/images/artic-logo-small.svg" height="100%"/></a>{% endif %}<a href="{{ site.url }}" class="logo" ><strong style="font-weight: 100">{{ site.title }}</strong><span>{{ site.subtitle }}</span></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="actions vertical">
                    <li><a href="{{ site.url }}" class="button fit">home</a></li>
        </ul>
        <ul class="links">
            {% for page in site.pages %}
                {% if page.layout != "home" and page.nav_menu == true %}
                <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>