<div {% if {{include.type}} %}class="bs-callout bs-callout-{{include.type}}"{% endif %}>
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="{% if {{include.width}} %}width: {{include.width}};{% else %}min-width:1%;{% endif %} {% if {{include.height}} %}min-height: {{include.height}};{% endif %} display: table-cell; text-align: left">
                {% if {{include.url}} %}<a class="noCrossRef" href="{{include.url}}">{% endif %}
                    <img src="{{include.prefix}}/images/{{include.file}}" style="max-height: 64px; margin: 0px 10px 0px 10px;" />
                {% if include.url %}</a>{% endif %}
            </div>
            <div style="display: table-cell; vertical-align: {% if {{include.align}} %}{{include.align}}{% else %}middle{% endif %};">
                <div style="font-size: 150%; padding-top: 40px; margin-top: -45px">{{include.title}}</div>
                <div style="font-size: 80%; font-weight: normal; font-style: italic;">{{include.subtitle}}</div>
                <div style="vertical-align: middle;">{{include.content}}</div>
            </div>
        </div>
    </div>
</div>


