<div style="margins:auto;">
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="max-width: 17%; display: table-cell; text-align: left">
                <a class="noCrossRef" href="http://wellcome.ac.uk">
                <img src="/assets/images/wellcome-logo-black-small.png" style="max-height: 64px; margin: 0px 10px 0px 10px;" />
                </a>
            </div>
            <div style="display: table-cell; vertical-align: middle};">
                <div style="font-size: 150%; padding-top: 40px; margin-top: -45px">Funded by the <a class="no_icon" href="http://wellcome.ac.uk">Wellcome Trust</a></div>
                <div style="font-size: 80%; font-weight: normal; font-style: italic;">Collaborators Award 206298/Z/17/Z --- <a href="artic.network">ARTIC network</a></div>
            </div>
        </div>
    </div>
</div>

